@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import '../../node_modules/basscss/css/basscss.css';

html, body {
  font-family: 'Lora';
  font-style: italic;
  -webkit-font-smoothing: antialiased; /* Para Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* Para Firefox */
  text-rendering: optimizeLegibility; /* Mejora la legibilidad del texto en navegadores */
  font-size: 20px;
}

html.dark, html.dark body {
  color: #ddd;
  background: #222;

}


.html, body {
  background: #eee;
  color: #555;
}
a {
  color: #0a89bf !important;
  text-decoration: none;
}


.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}
.toggle {
  background-color: #333;
  color: #ddd;
  border: 1px solid #fff;
}

.gridBlock {
  background-color: #ccc;
  &.selected {
    background-color: #bbb; // Cambia esto al color que quieras
  }
}

html.dark {
  background: #222;
  color: #ddd;
  a {
    color: #d50a80!important;
  }
  .toggle {
    background-color: #ddd;
    color: #333;
    border: 1px solid #000;
  }

  .gridBlock {
    background-color: #444;
    //border: 1px solid #333;
    &.selected {
      background-color: #555; // Cambia esto al color que quieras
    }
  }
}
.letter {

   margin-top: 30px;

}
.pic {
  border-radius: 60px;
  max-width: 100%;
}

@media (min-width: 768px) {
 .pic {
   max-width: 300px;
   margin-right: 30px;
 }
  .letter {
    font-size: 1em;
    margin-top: 0px;
  }
}
    .toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 26px;
  height: 26px;
  border-radius: 50px;
  cursor: pointer;
}

.cifra {
  display: flex;
  font-size: 1em;
  margin-top: 10px;

  > div {
    margin-right: 6px;
  }
}

.container {
  max-width: 960px; /* Ancho máximo similar al de Bootstrap */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.appGrid {
  max-width: 960px;
  max-height: 960px;
  left: 0;
  right: 0;
  margin: auto;
  display: grid;
  width: 100%;
  height: 100%;
  position: relative;
  //margin-top: 30px;
  .gridBlock {
    aspect-ratio: 1 / 1;
    border-radius: 2px;
  }


}
